<!DOCTYPE html>
<html>
<head>
    <title>iMac Booking Confirmation</title>
</head>
<body>
    <table width="100%" style="max-width: 600px; margin: 0 auto; font-family: Arial, sans-serif; border: 1px solid #ccc;">
        <tr>
            <td style="background-color: #7864F6; color: #fff; padding: 20px; text-align: center;">
                <h1>iMac Booking Confirmation</h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Dear {stud_name},</p>
                <p>Your booking for an iMac system has been confirmed. For {title}. Below are the details of your booking:</p>
                <ul>
                    <li><strong>Date:</strong> {date}</li>
                    <li><strong>Time:</strong> {time}</li>
                    <li><strong>Lab No:</strong> {lab}</li>
                </ul>
                <p>Please make sure to arrive on time and bring any necessary identification or materials required for your task.</p>
                <p>If you have any questions or need to make changes to your booking, please contact our support team at [Contact Email].</p>
                <p>Thank you for using our services. We look forward to serving you!</p>
                <p>Best regards,<br>[Your Name]</p>
                
                
            </td>
        </tr>
        <tr>
            <td style="background-color: #f5f5f5; text-align: center; padding: 10px;">
                &copy; SRMIST
            </td>
        </tr>
    </table>
</body>
</html>
