<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iMac Portal</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"> </script>
    <link href="static/portal.css" rel="stylesheet">
	</head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/assets/SRMLogo.png" alt="Logo" width="100" height="60" class="d-inline-block align-text-centre">
            iMac Portal
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="container-fluid" id="navbarSupportedContent" style="display: flex; height: 38px;">
            {% if acc_type == "Admin" %}
            <ul class="navbar-nav me-auto mb-lg-1 ml-lg-1" style="margin-left: 2em">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item" style="margin-left: 1em">
                <a class="nav-link disabled" aria-current="page" href="portal">Portal</a>
              </li>
            </ul>
            {% endif %}
            <a href="bookinghistory" class="btn btn-primary booking-history-btn" style="position: absolute; right: 125px; height: 40px;">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#ffffff" viewBox="0 0 512 512"><path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z"/></svg>
            </a>
            <a class="btn btn-primary" href="logout" role="button" style="position: absolute; right: 15px;">Log Out</a>
          </div>
        </div>
      </nav>
      

    <div class="body-container">
        <div class="seat-graphic-card">
            <form class='lab-form' method="post" action="loadlab">
                <div class="close-labs-graphic-card" id="labs-graphic-card">
                    {% csrf_token %}
                    <div class="lab-label">
                        <h1 style="position: absolute; font-size: 20px; top: 2px;">Lab {{lab_no}}</h1>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    </div>
                    <button class="lab-card1 tt" type="submit" data-bs-toggle="tooltip" data-bs-html="true" title=" · macOS Monterey {version 12.1}<br>· Apple M1<br>· 16GB<br>· 512GB" value="1"><h1 style="font-size: 15px; height: 15px;">Lab 1</h1></button>
                    <button class="lab-card2 tt" type="submit" data-bs-toggle="tooltip" data-bs-html="true" title=" · macOS Monterey {version 12.1}<br>· Apple M1<br>· 8GB<br>· 256GB" value="2"><h1 style="font-size: 15px; height: 15px;">Lab 2</h1></button>
                    <button class="lab-card3 tt" type="submit" data-bs-toggle="tooltip" data-bs-html="true" title=" · macOS Monterey {version 12.1}<br>· 2.3GHz Dual-Core Intel Core i5<br>· 8GB 2133 MHz DDR4<br>· Intel Iris Plus Graphics 640 1536MB<br>· 256GB SSD" value="3"><h1 style="font-size: 15px; height: 15px;">Lab 3</h1></button>
                    <button class="lab-card4 tt" type="submit" data-bs-toggle="tooltip" data-bs-html="true" title=" · macOS Monterey {version 12.1}<br>· 2.3GHz Dual-Core Intel Core i5<br>· 8GB 2133 MHz DDR4<br>· Intel Iris Plus Graphics 640 1536MB<br>· 256GB SSD" value="4"><h1 style="font-size: 15px; height: 15px;">Lab 4</h1></button>
                    <input type="text" name="lab-no" style="display:none" value={{lab_no}}/>

                    <div class="date-field" style="display:none">
                        <h1 style="font-size: 15px; height: 15px;">Date</h1>
                        <input type="date" name="date" class="form-control date" value="{{date}}"/>
                    </div>
                    <div class="time-from" style="display:none">
                        <h1 style="font-size: 15px; height: 15px;">From</h1>
                        <input type="time" name="time_from" class="form-control time timefrom" value="{{time_from}}"/>
                    </div>
                    <div class="time-till" style="display:none">
                        <h1 style="font-size: 15px; height: 15px;">Till</h1>
                        <input type="time" name="time_till" class="form-control time timetill" value="{{time_till}}"/>
                    </div>
                </div>
            </form>

            <h2>Hall Way</h2>
            <a class="btn btn-warning select-all-btn" role="button" style="position: absolute; color: white; top: 150px; left: 110px;">Select All</a>
            <div class="filter">
                <form class='lab-form' method="post" action="loadlab">
                    
                    <span class="filter-close-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#000000" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                        </svg>
                    </span>

                    {% csrf_token %}
                    <div class="filter-datetime-lb">
                        <span class="filter-date">Date - {{date}}</span><br>
                        <span class="filter-time-from">Time - {{time_from}}</span>
                        <span class="filter-time-till">To {{time_till}}</span>
                    </div>

                    <span class="filter-lb">Filter</span>
                    <span class="filter-saprator"></span>

                    <input type="text" name="lab-no" style="display:none" value={{lab_no}}/>

                    <div class="date-field">
                        <h1 style="font-size: 15px; height: 15px;">Date</h1>
                        <input type="date" name="date" class="form-control date" value="{{date}}"/>
                    </div>
                    <div class="time-from">
                        <h1 style="font-size: 15px; height: 15px;">From</h1>
                        <input type="time" name="time_from" class="form-control time timefrom" value="{{time_from}}"/>
                    </div>
                    <div class="time-till">
                        <h1 style="font-size: 15px; height: 15px;">Till</h1>
                        <input type="time" name="time_till" class="form-control time timetill" value="{{time_till}}"/>
                    </div>
                    <input class="btn btn-primary slot-search-btn" type="submit" value="search slot">
                </form>
            </div>

            <div class="main-container">
                
                {% if booked_seats == "All" %}
                    <div class="invalid-selection-glass"><h3>Sorry This Lab Is Already Booked</h1></div>
                {% endif %}
                {% for row, value in rows.items %}
                    <div class="row">
                    {% for sys in value %}
                        {% if booked_seats == "All" and sys.sys_no != "Piller" %}
                                <div class="btn btn-dark occupied-seat-btn">
                                    {{sys.sys_no}}
                                </div>
                        {% elif sys.sys_no == "Piller" %}
                                <div class="btn btn-warning pillar-btn" style="color: white;">Pillar</div>
                        {% elif sys.sys_no in booked_seats %}
                                <div class="btn btn-dark occupied-seat-btn" disabled>
                                    {{sys.sys_no}}
                                </div>
                        {% else %}
                                <div class="btn btn-light seat-btn">{{sys.sys_no}}</div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="request-form">
                <div class="type-btns">
                    <input class="btn btn-primary type-btn type-btn-selected" type="button" style="display: inline-block;" value="Class">
                    <input class="btn btn-primary type-btn" type="button" style="display: inline-block;" value="Event">
                    <input class="btn btn-primary type-btn" type="button" style="display: inline-block;" value="Project">
                </div>
                <div class="title">
                    <label class="form-label">Title<span style="color: red;">*</span></label>
                    <input class="form-control title-text" name="title" required></input>
                </div>
                <div class="emails">
                    <label class="form-label">Emails(optional)</label>
                    <textarea class="form-control emails-text"></textarea>
                </div>
                <div class="details">
                    <label class="form-label">Details<span style="color: red;">*</span></label>
                    <textarea class="form-control details-text" required></textarea>
                </div>
                <input class="btn btn-primary submit-btn" type="submit" style="display: flex; position: absolute; bottom: 20px;" value="Submit Request">
            </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <strong class="me-auto">System Warning</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Please select a system to proceed.
            </div>
        </div>
    </div>

    <div class="dialog-bg">
        <div class="confirm-dialog">
            <span class="dialog-title"><b>Booking Confirmation</b></span>
            <span class="dialog-close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#000000" viewBox="0 0 384 512">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </span>
            <div class="dialog-saprator"></div>
            <form class="dialog-form" action="submitreq" method="post">
                {% csrf_token %}
                <span class="dialog-booking-title"><b>Title -</b> <span class="booking-title">AR/VR Expo</span></span>
                <span class="dialog-booking-date"><b class="booking-date">Date -</b> {{date}}</span>
                <span class="dialog-booking-time"><b class="booking-time">Time Slot -</b> {{time_from}}-{{time_till}}</span>
                <div class="emails dialog-booking-emails">
                    <label class="form-label"><b>Emails Mentioned -</b></label>
                    <textarea class="form-control emails-text dialog-emails-text" disabled></textarea>
                </div>
                <div class="details dialog-booking-details">
                    <label class="form-label"><b>Details -</b></label>
                    <textarea class="form-control details-text dialog-booking-details-text" disabled></textarea>
                </div>
                <input class="btn btn-primary submit-btn" type="submit" style="display: flex; position: absolute; bottom: 20px; color: white;" value="Submit">
                
                <input type="text" name="lab-no" style="display:none" value="{{lab_no}}"/>
                <input class="sys-input" type="text" name="sys-no" style="display:none" required/>
                <input class="type-input" type="text" name="booking-type" style="display:none" value="Class" required/>
                <div class="title" style="display:none">
                    <label class="form-label">Title<span style="color: red;">*</span></label>
                    <input class="hidden-title-text" name="title"></input>
                </div>
                <div class="date-field" style="display:none">
                    <h1 style="font-size: 15px; height: 15px;">Date</h1>
                    <input type="date" name="date" class="form-control reqdate" value="{{date}}"/>
                </div>
                <div class="time-from" style="display:none">
                    <h1 style="font-size: 15px; height: 15px;">From</h1>
                    <input type="time" name="time_from" class=" dialog-reqtimefrom" value="{{time_from}}"/>
                </div>
                <div class="time-till" style="display:none">
                    <h1 style="font-size: 15px; height: 15px;">Till</h1>
                    <input type="time" name="time_till" class=" dialog-reqtimetill" value="{{time_till}}" />
                </div>
                <div class="emails dialog-booking-emails" style="display:none">
                    <label><b>Emails Mentioned -</b></label>
                    <textarea class="emails-text hidden-emails-text" name="stud_emails"></textarea>
                </div>
                <div class="emails dialog-booking-emails" style="display:none">
                    <label ><b>Details -</b></label>
                    <textarea class="details-text hidden-booking-details-text" name="details"></textarea>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script>
        const typebtns = document.querySelectorAll('.type-btn');
        typebtns.forEach((typebtn) => {
            typebtn.addEventListener('click', () => {
                const _typebtns = document.querySelectorAll('.type-btn');
                _typebtns.forEach((_typebtn) => {
                    _typebtn.classList.remove('type-btn-selected');
                })
                typebtn.classList.toggle('type-btn-selected');
            })
        })
    </script>

    <script>
        const confirm_dialog = document.querySelector(".confirm-dialog");
        const dialog_bg = document.querySelector(".dialog-bg");
        const submit_btn = document.querySelector(".submit-btn");
        const booking_title = document.querySelector(".booking-title");
        const dialog_emails_text = document.querySelector(".dialog-emails-text");
        const hidden_emails_text = document.querySelector(".hidden-emails-text");
        const dialog_booking_details_text = document.querySelector(".dialog-booking-details-text");
        const hidden_booking_details_text = document.querySelector(".hidden-booking-details-text");
        const title_text = document.querySelector(".title-text");
        const emails_text = document.querySelector(".emails-text");
        const details_text = document.querySelector(".details-text");
        const hidden_title_text = document.querySelector(".hidden-title-text");


        submit_btn.addEventListener("click", () => {
            if (title_text.value != "" && details_text.value != ""){
                dialog_bg.classList.add("dialog-bg-show");
                confirm_dialog.classList.add("confirm-dialog-open");
                booking_title.textContent = title_text.value;
                hidden_title_text.value = title_text.value;
                dialog_emails_text.value = emails_text.value;
                hidden_emails_text.value = emails_text.value;
                dialog_booking_details_text.value = details_text.value;
                hidden_booking_details_text.value = details_text.value;
            }else{
                title_text.classList.add("is-invalid");
                details_text.classList.add("is-invalid");
                title_text.placeholder = "Title is required!!!";
                details_text.placeholder = "Details are required!!!";
            }
        });

        const dialog_close_btn = document.querySelector(".dialog-close-btn")

        dialog_close_btn.addEventListener("click", () => {
            dialog_bg.classList.remove("dialog-bg-show");
            confirm_dialog.classList.remove("confirm-dialog-open");
        });

        
        
    </script>

    <script>
        typebtns.forEach((typebtn) => {
            typebtn.addEventListener('click', () => {
                $('input[name="booking-type"]').val(typebtn.value);
            })
        })
    </script>

    <script>
        const system_input = document.querySelector('.sys-input')
        const toastTrigger = document.querySelector('.submit-btn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            if (system_input.value == ""){
                toastBootstrap.show();
            }
        })
        }
    </script>

    <script>
        const tooltips = document.querySelectorAll('.tt');
        tooltips.forEach((tooltip) => {
            new bootstrap.Tooltip(tooltip);
        })
    </script>

    <script>
        document.addEventListener('click', function(event) {
            var labsGraphicCard = document.getElementById('labs-graphic-card');
            var labLabel = document.querySelector('.lab-label');
            if (event.target !== labLabel && !labLabel.contains(event.target)) {
              labsGraphicCard.classList.remove('open-labs-graphic-card');
            }
          });
    </script>

    <script>
        const dialog = document.querySelector(".close-labs-graphic-card");
        const btn = document.querySelector(".lab-label");

        btn.addEventListener("click", () => {
            dialog.classList.toggle("open-labs-graphic-card");
        });
        
        
    </script>
    <script>
        const filter_datetime_lb = document.querySelector(".filter-datetime-lb");
        const filter = document.querySelector(".filter");
        const closefilterBtn = document.querySelector(".filter-close-btn");

        filter_datetime_lb.addEventListener("click", () => {
            filter.classList.add("filter-open");
        });

        closefilterBtn.addEventListener("click", () => {
            filter.classList.remove("filter-open");
        });
    </script>

    <script>  
        $(function () {  
            $('#time').datetimepicker({  
                format: 'DD/MM/YYYY hh:mm A'  
            });  
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        // Add a click event listener to all buttons with the class 'btn-primary'
        $('.seat-btn').click(function() {
        // Remove the 'btn-clicked' class from all buttons
        $('.seat-btn').removeClass('btn-clicked');
        
        // Add the 'btn-clicked' class to the clicked button
        $(this).addClass('btn-clicked');
        });
    });
    </script>

    <script>
        $(document).ready(function() {
            $('.lab-card1').click(function() {
                var lab_no = $(this).text();
                $('input[name="lab-no"]').val("1");
            });
        });
        $(document).ready(function() {
            $('.lab-card2').click(function() {
                var lab_no = $(this).text();
                $('input[name="lab-no"]').val("2");
            });
        });
        $(document).ready(function() {
            $('.lab-card3').click(function() {
                var lab_no = $(this).text();
                $('input[name="lab-no"]').val("3");
            });
        });
        $(document).ready(function() {
            $('.lab-card4').click(function() {
                var lab_no = $(this).text();
                $('input[name="lab-no"]').val("4");
            });
        });
    </script>

    <script>
        function text_changed() {
            const selectAllBtn = document.querySelector('.select-all-btn');
            const seatBtns = document.querySelectorAll('.seat-btn');
            const selectedBtns = document.querySelectorAll('.selected-btn');

            var selectedseats = [];

            selectedBtns.forEach(selectedBtn => {
                selectedseats.push(selectedBtn.textContent);
            });
            if ((seatBtns.length - selectedBtns.length) > 0) {
                $('input[name="sys-no"]').val(selectedseats);
            }else{
                $('input[name="sys-no"]').val("All");
            }
        }
    </script>

    <script>
        // Get the select-all button and all seat buttons
        const selectAllBtn = document.querySelector('.select-all-btn');
        const seatBtns = document.querySelectorAll('.seat-btn');

        // Add a click event listener to the select-all button
        selectAllBtn.addEventListener('click', () => {

            // Toggle the selected class on all seat buttons
            seatBtns.forEach(seatBtn => {
                seatBtn.classList.add('selected-btn');
            });


            if(selectAllBtn.text == "Select All"){
                selectAllBtn.text = "Clear Selection";
            }else{
                selectAllBtn.text = "Select All";
                seatBtns.forEach(seatBtn => {
                    seatBtn.classList.remove('selected-btn');
                });
            }
            
            text_changed();
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.seat-btn').click(function() {
                var sys_no = $(this).text();
                //$('input[name="sys-no"]').val(existingText); // Set the value to the entire text
                $(this).toggleClass('selected-btn');
                text_changed();
            });
        });
    </script>

    <script>
        // Get all selected buttons
        const selectedBtns = document.querySelectorAll('.selected-btn');

        // Add a click event listener to each selected button
        selectedBtns.forEach(selectedBtn => {
            selectedBtn.addEventListener('click', () => {
                // Get the text of all selected buttons except for the clicked button
                
            text_changed();
        });
    </script>

  </body>
</html>